body {
    margin: 0px 0px;
    background-color: blue;
    padding: 0;
}

.hidden-results {
    position:fixed;
    width:100%;
    height:100%;
    background-color:hsla(153, 5%, 38%,0.7) ;
    display: none;
    flex-direction: column;
    /* justify-content:center; */
    /* align-items: center; */
}

.hidden-search {
    
}
